@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap");

:root {
  --bg-intro: hsl(217, 28%, 15%);
  --bg-main: hsl(218, 28%, 13%);
  --bg-footer: hsl(216, 53%, 9%);
  --bg-testimonials: hsl(219, 30%, 18%);
  --cyan: hsl(176, 68%, 64%);
  --blue: hsl(198, 60%, 50%);
  --light-red: hsl(0, 100%, 63%);
  --white: hsl(0, 0%, 100%);

  --ff-headings: 'Raleway', sans-serif;
  --ff-body: 'Open Sans', sans-serif;
}

/* ------ RESET ------ */
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background: var(--bg-main);
  color: var(--white);
  font-family: var(--ff-body);
  font-size: 62.5%;
  font-weight: 400;
}

h1, h2, h3, h4 {
  font-family: var(--ff-headings);
  font-weight: 700;
}

h1{font-size: 4rem;}
h2{font-size: 4rem;}

ul, li { list-style: none;}

a { 
  color: var(--white);
  font-size: 1.4rem;
  position: relative;
  text-decoration: none;
}

img, span, svg {display: block;}

button {
  background: linear-gradient(to right, var(--cyan), var(--blue));
  border: none;
  border-radius: 50px;
  width: 280px;
  padding: 20px 0;
  color: var(--white);
  font-size: 1.4rem;
  font-family: var(--ff-headings);
  font-weight: 700;
}

button:hover {
  background: var(--cyan);
  cursor: pointer;
}

/* --- HEADER --- */

.navbar {
  background: var(--bg-intro);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 8em;
  width: 100%;
}

.navbar__menu {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.navbar__menu-item a::after {
  content: '';
  width: 0;
  height: 1px;
  position: absolute;
  left: 1px;
  bottom: -2px;
  background: var(--white);
  transition: 0.3s;
}

.navbar__menu-item a:hover::after {
  width: 100%;
}



