@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap");

:root {
  --bg-intro: hsl(217, 28%, 15%);
  --bg-main: hsl(218, 28%, 13%);
  --bg-footer: hsl(216, 53%, 9%);
  --bg-testimonials: hsl(219, 30%, 18%);
  --cyan: hsl(176, 68%, 64%);
  --blue: hsl(198, 60%, 50%);
  --light-red: hsl(0, 100%, 63%);
  --white: hsl(0, 0%, 100%);

  --ff-headings: 'Raleway', sans-serif;
  --ff-body: 'Open Sans', sans-serif;
}

/* ------ RESET ------ */
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background: var(--bg-main);
  color: var(--white);
  font-family: var(--ff-body);
  font-size: 62.5%;
  font-weight: 400;
}

h1, h2, h3, h4 {
  font-family: var(--ff-headings);
  font-weight: 700;
}

h1{font-size: 4rem;}
h2{font-size: 2.4rem;}
p{font-size: 1.6rem;}

ul, li { list-style: none;}

a { 
  color: var(--white);
  font-size: 1.6rem;
  position: relative;
  text-decoration: none;
}

.btn {
  font-size: 1.6rem;
  font-family: var(--ff-headings);
  font-weight: 700;
  background: linear-gradient(to right, var(--cyan), var(--blue));
  color: var(--white);
  border: none;
  border-radius: 50px;
  margin: 4rem 0;
  padding: 1.2em 0;
  width: 280px;
}

button:hover {
  background: var(--cyan);
  cursor: pointer;
}

/* --- HEADER --- */

.navbar {
  background: var(--bg-intro);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 8em;
  width: 100%;
}

.navbar__menu {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.navbar__menu-item a::after {
  content: '';
  width: 0;
  height: 1px;
  position: absolute;
  left: 1px;
  bottom: -2px;
  background: var(--white);
  transition: 0.3s;
}

.navbar__menu-item a:hover::after {
  width: 100%;
}

/* --- HERO --- */

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  min-height: 100vh;
  width: 100%;
  background: var(--bg-intro);
  background-image: url(./assets/images/bg-curvy-desktop.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}

.hero__img {width: 72rem;}

.hero__title {
  width: 72rem;
  margin: 4rem 0;
}

.hero__text {width: 72rem;}

/* --- SECTION - FEATURES --- */

.features {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
  justify-content: center;
  gap: 10rem;
  margin: 12rem 0;
  padding: 0 6rem;
}

.features-card {text-align: center;}

.features-card__img {
  margin: 3.2rem;
  max-height: 80px;
}

.features-card__title {margin: 2rem}


